[2016-10-06 16:17] wavicles opened #2 "website for FOSSASIA Science Lab"
Hi Mario
Let us have a website for FOSSASIA Science Lab. This will be a common website for the tools we are supporting/developing, like ExpEYES, PSLab, Microhope etc... We will also keep adding the programs we conduct, the study material we develop on this site.

Please register a new domain name like fossasiasciencelab.org    or sub-domain sciencelab.fossasia.org. Which one do you think is suitab

[2016-10-06 18:09] mariobehling commented on #2
Good idea, maybe science.fossasia.org is good as it is shorter. Let's think about it step by step and let's collect content before we are making more unused subdomains (like PSlab which does not have content here).

Can we start by collecting more stuff on the blog and then take the best content to build this new site? A new subdomain will not get as many hits as blog entries and if your main goal

[2016-10-23 21:00] nadia39 commented on #2
I would like to contribute to this project.
I am a university student and I must take part in a Open Source Project for a class.
I can help with the design of the website.
Thank you.

[2016-10-24 06:26] mariobehling commented on #2
Hi @nadia39 thanks for your interest. Currently, we are not completely clear about the content of the website. Therefore, this issue will be delayed.

Please help with one of our other projects e.g. we need help with https://github.com/fossasia/loklak_search which is using Angular2.

[2016-11-11 09:57] #2 closed

[2016-11-11 10:24] mariobehling opened #9 "Width and top bar erroneous after color bulk update"
I bulk updated the color and on the local installation it all looks good.

However top bar and width are distorted on live site.

![screenshot from 2016-11-11 18 22 55](https://cloud.githubusercontent.com/assets/1583873/20211996/e45c3fe0-a83b-11e6-957d-ea3b37a765a0.png)

[2016-11-12 13:06] Achint08 commented on #9
![screen shot 2016-11-12 at 6 30 08 pm](https://cloud.githubusercontent.com/assets/15813932/20237948/2622fb1a-a906-11e6-936e-ef5a7cebddaf.png)

Hello, As we can see on the screenshot, Status :404 Not found for some of the files , specifically the vendor files. I hope this helps.

[2016-11-13 01:06] mariobehling commented on #9
The files are there and were not changed. Not sure, where is the error. Please help and make a PR to fix it.  Cheers.

[2016-11-13 12:31] Achint08 commented on #9
On my local machine it is working fine but I think that live site is not updated because "http://pslab.fossasia.org/vendor/bootstrap/css/bootstrap.min.css" shows that "The site configured at this address does not contain the requested file. " and it shows "Jquery is not defined" .Kindly check it once more if the files are updated. If that doesn't solve the issue what about using CDN's?

[2016-12-11 12:27] mariobehling commented on #9
@Achint08 I am still unclear, what is the cause of this issue. I think the CDN should have been updated by now. Below a screenshot of the issue. Let's see if anyone would like to take it on and dive in deeper.

![screenshot from 2016-12-11 19-17-32](https://cloud.githubusercontent.com/assets/1583873/21080021/bf61e16a-bfd6-11e6-93ab-104697946311.png)

[2016-12-12 06:17] ankitrgadiya opened #10 "Site is not rendering properly."
I don't know what is wrong but it looks like site is completely broken.

[2016-12-12 06:26] jigyasa-grover commented on #10
Works fine for me, post relevant screenshots and also specify the browser name & version being used.

[2016-12-12 06:38] ankitrgadiya commented on #10
Its strange I cloned the repo and tested locally and I was working fine. I even tried on other computer the official link is not rendering. So, for testing I copied the code into a testing repo and its working fine too.
Official link
![screenshot from 2016-12-12 12-07-00](https://cloud.githubusercontent.com/assets/18071765/21090131/8fdc5c44-c063-11e6-960c-66816c0b26bd.png)
Local version
![screensh

[2016-12-12 07:42] sanchittechnogeek commented on #10
i get this

![screenshot 367](https://cloud.githubusercontent.com/assets/15964833/21091504/87690e3c-c06c-11e6-8445-c3df499d0f98.png)

[2016-12-12 09:15] Achint08 commented on #9
@mariobehling Is the website extracting data directly from this repository? In that case, There were bugs like there was no ending </div> tag at the end of the index.html. Problem can also be on server side also. Try to push again the files on the server. There have been people who have gone through these issues  . Let's Commit Something and push the branch gh-pages and it might solve the issue. N

[2016-12-12 09:15] sanchittechnogeek commented on #10
@jig08 please check the screenshots

[2016-12-12 11:49] #9 closed

[2016-12-12 12:01] mariobehling commented on #10
No clue, what was the error. It is fixed now though on the live site for me. Therefore closing it.

[2016-12-12 12:07] ankitrgadiya commented on #10
@mariobehling Yeah its working properly now. CDN links fixed this problem. Go ahead close the issue

[2016-12-12 12:18] #10 closed

[2016-12-13 12:22] ankitrgadiya opened #13 "No Favicon"
I found out that there's no favicon.
So, I decided to fix it.

[2016-12-13 17:29] ankitrgadiya opened #14 "Site not rendering properly."
I reported the same issue before #10  @BrainBuzzer fixed it with CDN links but the issue persist for Developers page.

![screenshot from 2016-12-13 22-56-24](https://cloud.githubusercontent.com/assets/18071765/21151135/670cf01a-c187-11e6-8d1a-f97022a4babb.png)

[2016-12-13 18:24] ankitrgadiya commented on #13
I have three of them.
I designed this
![favicon](https://cloud.githubusercontent.com/assets/18071765/21152974/9b412228-c18e-11e6-81f3-b7d9dd946ebd.png)

Or we can use Fossasia "F" favicon as used in GCI site and most other fossasia sites.

![fossasia](https://cloud.githubusercontent.com/assets/18071765/21153049/e3620374-c18e-11e6-820a-48eaec26adb6.png)

Or we can use this Font Awesome svg
![flask]

[2016-12-13 19:08] Princu7 commented on #13
All of them look good. What do you guys think @jig08 @m1guelpf @hemantjadon @niccokunzmann Which one should we choose?

[2016-12-13 19:16] m1guelpf commented on #13
@Princu7 I like the Font Awesome SVG

[2016-12-13 19:21] Princu7 commented on #13
@m1guelpf Yeah. I also like the design. Let's see what others think and pick one of them.

[2016-12-13 19:54] hemantjadon commented on #13
Font awesome avg I guess for the favicon.

[2016-12-13 20:19] ankitrgadiya commented on #13
Okay! Thanks for helping me select. I'm going to use Font Awesome svg (Flask). :-)

[2016-12-13 20:22] ankitrgadiya commented on #13
Thanks guys for helping me choose one. So, can I use Font Awesome svg now?

[2016-12-14 01:26] BrainBuzzer commented on #14
I'm working on it

[2016-12-14 01:28] BrainBuzzer commented on #14
I forgot to edit that one page. I thought all links are on same page .

[2016-12-14 08:19] ankitrgadiya commented on #13
Okay Favicon added. Flask svg by Font Awesome
PR #15

[2016-12-14 08:37] ankitrgadiya commented on #14
No worries I fixed it.

[2016-12-14 09:31] hemantjadon commented on #13
Nice work @ankitrgadiya

[2016-12-14 09:31] #13 closed

[2016-12-14 13:29] ankitrgadiya commented on #13
Thanks!

[2016-12-15 08:37] Baidya99 opened #16 "The site nav-bar is towards the right side"
Also the nav-bar doesn't move when we scroll down.

[2016-12-15 08:37] sudo-panda commented on #16
I would like to fix this.

[2016-12-15 08:40] hemantjadon commented on #16
@Baidya99 Sure go ahead. But after completetion do provide the before and after screenshots.

[2016-12-15 09:00] sudo-panda commented on #16
I do not understand why there are so many classes in the css(or rather .less) with navbar in them

[2016-12-16 10:39] abishekvashok commented on #14
Now we can close this then guys

[2016-12-16 11:00] hemantjadon commented on #14
Seems like fixed. So closing this.

[2016-12-16 11:00] #14 closed

[2016-12-16 15:08] #16 closed

[2016-12-16 16:07] Baidya99 opened #19 "Improving the footer."

[2016-12-17 06:07] sudo-panda commented on #19
Why are the facebook, twitter and github icon hidden in the footer?

[2016-12-17 21:37] Elgayar commented on #19
Is this issue still not solved or can I start working on it?

[2016-12-18 04:56] sudo-panda commented on #19
@Elgayar I have posted a PR to solve the issue

[2016-12-18 06:17] sudo-panda commented on #19
Fixed.

[2016-12-18 06:17] #19 closed

[2016-12-18 12:55] dewanshrawat15 opened #21 "Padding on mobile"
I'd like to beautify the page by simple giving some text padding and would also like to work on the response of the page. 😀

[2016-12-18 14:58] hemantjadon commented on #21
Sure @dewanshrawat15 Go ahead :)

[2016-12-18 20:44] Elgayar opened #22 "Add Smooth Scrolling for Navigation Menu"
I suggest adding jQuery's smooth scrolling to make the navigation links in the index.html look more professional and elegant. I am doing a PR in a few minutes.

[2016-12-18 20:48] Elgayar commented on #22
Live Link: https://elgayar.github.io/pslab.fossasia.org/

[2016-12-19 05:45] #22 closed

[2016-12-19 05:45] mariobehling opened #24 "Keep top menu bar visible"
The top bar disappears when scrolling down. Keep it visible.

[2016-12-19 05:50] mariobehling opened #25 "Add labs dropdown menu"
Add dropdown menu like in FOSSASIA sites

![screenshot from 2016-12-19 12-46-27](https://cloud.githubusercontent.com/assets/1583873/21302468/ae12b5ec-c5e9-11e6-9bb9-08e503eb54ea.png)

[2016-12-19 05:50] mariobehling opened #26 "Avoid scroll bar in menu dropdown in small resolutions"
![screenshot from 2016-12-19 12-48-25](https://cloud.githubusercontent.com/assets/1583873/21302470/b773e746-c5e9-11e6-9819-057f2dc6299c.png)

[2016-12-19 12:45] idealadarsh commented on #25
@mariobehling Which links should be added in the dropdown menu?
And is the name of dropdown menu should be "Labs"?

[2016-12-19 15:05] alejoheredia commented on #24
@mariobehling Can I work on this? 😄

[2016-12-19 15:31] mariobehling commented on #25
See screenshot - Labs

Same links as on fossasia.org

[2016-12-19 17:04] alejoheredia commented on #26
@mariobehling I think that you can close this issue, because in the commit #27 I solved this too 😃

[2016-12-19 17:10] #26 closed

[2016-12-19 17:56] idealadarsh commented on #25
Moved Fossasia link into Labs dropdown. There was not much space left, the menu occupied two lines then.

[2016-12-19 18:22] mariobehling commented on #24
Please ensure top bar is semi-transparent as soon as scrolling down - also on red top area.

[2016-12-19 18:27] mariobehling commented on #25
Please do not do this. I am following up in a separate issue about the top bar sorting.

[2016-12-19 18:32] mariobehling opened #29 "Sorting the top menu bar"
Please implement the top bar as follows:

* [x] Add FOSSASIA logo on top left and link it to http://fossasia.org
* [x] Home linking to PSLab start page
* [x] Implement "Features" as top menu item
* [x] Implement "Getting Started" with sub items in the following order:
    * [x] Design your own experiments
    * [x] Installation
    * [x] Hardware Communication
* [x] Developers and Mentors
* [x] PS

[2016-12-19 18:33] mariobehling commented on #25
Follow up issue here https://github.com/fossasia/pslab.fossasia.org/issues/29

[2016-12-19 18:35] mariobehling opened #30 "Implement same design on developers page as on main page and implement design in css"
The website currently uses a number of hard coded designs. As a first step implement the same design as on the main page for developers subpage: http://pslab.fossasia.org/developers.html

In the second step make the pages more standard conform using a common css.

[2016-12-19 18:36] mariobehling commented on #30
Changing goal and closing this.

[2016-12-19 18:36] #30 closed

[2016-12-19 18:37] mariobehling opened #31 "Move developers and mentors page to become a section on main page"
Currently the developers section is a separate page. In the mobile ready world people usually scroll. As the page is small we can integrate them into the main page. Please add it as a section into the main page.

[2016-12-19 19:46] alejoheredia commented on #24
@mariobehling But, It is already semi-transparent

[2016-12-19 20:21] alejoheredia commented on #29
@mariobehling Does it have to be floating on the right?

[2016-12-20 01:46] nadunys commented on #31
@mariobehling can I work on this?

[2016-12-20 03:23] mariobehling commented on #31
Sure, go ahead.

[2016-12-21 05:30] nadunys commented on #31
done

[2016-12-22 16:57] mariobehling commented on #29
@Heredroky Thanks. Please ensure the dropdown menu expands on scroll over. Cheers.

[2016-12-23 01:32] #25 closed

[2016-12-23 04:13] hemanthsavasere commented on #29
Hi @mariobehling
I want to work on this.

[2016-12-23 17:07] #31 closed

[2016-12-23 17:08] #29 closed

[2016-12-23 17:10] mariobehling commented on #24
Please compare on the FOSSASIA main site. As soon as you start scrolling down the transparency of the top bar changes. On the PSlab site the menu bar always appears completely transparent for me on Chrome.

![screenshot from 2016-12-23 18-09-02](https://cloud.githubusercontent.com/assets/1583873/21458978/532e3be2-c96d-11e6-8959-9ab90ef4048b.png)

[2016-12-23 17:12] mariobehling commented on #24
Ah ok. I see it is changing as soon as the white area is appearing. Could you adopt it, so the top bar changes when the scrolling starts, please?

[2016-12-23 23:27] AKostiv8 opened #38 "Invisible Text under navbar"
When you are scrolling down the text mixed and become invisible. Take a look a screenshot below:

![85](https://cloud.githubusercontent.com/assets/24627005/21463846/1d2aac5a-c978-11e6-8533-f1d8f1253c58.png)

[2016-12-23 23:31] AKostiv8 opened #39 "Footer symbol"
In the footer section doesn't use (where email address) standard Unicode and also the design is not so user-friendly.

![87](https://cloud.githubusercontent.com/assets/24627005/21463871/bef21140-c978-11e6-98ea-04455df152a1.png)

[2016-12-24 05:23] ashwini0529 commented on #39
I can take this up.

[2016-12-24 07:36] jigyasa-grover commented on #38
@AKostiv8  nice, would you like to take it up ?

[2016-12-24 14:18] hemanthsavasere commented on #38
Hi @jig08
I would like to work on this issue.
Thanks,

[2016-12-24 20:23] AKostiv8 commented on #38
@jig08  I have fixed it yesterday but my PR closed((( https://github.com/fossasia/pslab.fossasia.org/pull/40

[2016-12-24 20:25] AKostiv8 commented on #38
@jig08  and I also fixed next issues

[2016-12-24 20:31] AKostiv8 commented on #38
@jig08 this the live link of my changes https://akostiv8.github.io/pslab.fossasia.org/

[2016-12-25 13:07] mariobehling opened #45 "Ensure all links act in same way and use same colors"
Currently links across the page behave differently, e.g. some have underlind on scroll over, some change color. Please implement as follows:

* [ ] Implement css for links and change html implementation of links to use CSS
* [ ] All links should use the same red color
* [ ] On scroll over underline links

[2016-12-25 13:11] mariobehling opened #46 "Improve top menu bar"
Improve the menu bar as follows:

* [ ] On scroll over make menu item bold
* [x] Decrease transparency in front of areas
* [x] On the main content area the menu is white and on scroll over links are blue. Implement as follows: Top menu items stay black and get bold
![screenshot from 2016-12-25 14-10-06](https://cloud.githubusercontent.com/assets/1583873/21471266/eeb16884-caab-11e6-8e94-31756d1fcf0

[2016-12-27 05:48] hemanthsavasere commented on #45
Hi @mariobehling
I want to fix it and I am working on it.

[2016-12-27 07:25] hemanthsavasere commented on #45
Hi @hemantjadon and @mariobehling
the custom.css file's styles are applying to some, but I cannot override other links whose properties already has been defined in css/clean-blog.min.css  for that particular element.

[2016-12-27 21:35] Elgayar commented on #39
Before:
![image](https://cloud.githubusercontent.com/assets/6567844/21508869/d7ea584e-cc8c-11e6-8b54-a53f4164cf49.png)

After:
![image](https://cloud.githubusercontent.com/assets/6567844/21508877/ece02e54-cc8c-11e6-8a41-e8ae612901fe.png)

@mariobehling

[2016-12-27 22:24] mariobehling commented on #39
Thanks. Please change "About PSLab" to "Contact".

[2016-12-27 22:25] Elgayar commented on #39
Okay, one second!

[2016-12-27 22:27] Elgayar commented on #39
Done. @mariobehling

[2016-12-31 14:55] oanarosca commented on #46
May I fix the others? Also, I noticed that the developers' names are not centered, and I'd like to solve that too.

[2017-01-03 17:05] mariobehling commented on #46
Please also make the menu items bold on scroll over in front of the red top area (instead of light grey).

[2017-01-07 11:35] kmehant commented on #46
@mariobehling Can I work on this?

[2017-01-07 11:42] kmehant opened #56 "The down arrow is not consistent in the top nav bar."
![selection_002](https://cloud.githubusercontent.com/assets/15800200/21741463/5dca2fda-d4fc-11e6-8dbc-22a05bd55076.png)

Here the arrow should be beside "Getting started". It should look like how it is placed with "labs" section

@mariobehling I would like to work on this.

[2017-01-07 11:47] kmehant commented on #56
Looks like a browser specific issue. It is observed only in Firefox.

[2017-01-07 12:25] #56 closed

[2017-01-11 16:31] abishekvashok commented on #24
@mariobehling I would like to work on the same pls

[2017-01-11 16:40] abishekvashok commented on #38
@jig08 consider closing it won't you, it's fixed :)

[2017-01-11 16:50] abishekvashok commented on #46
@mariobehling should we do it (I mean to make them bold) as the fossasia.org website lacks that feature

[2017-01-11 16:50] abishekvashok commented on #39
@mariobehling mind closing it

[2017-01-11 16:54] abishekvashok commented on #45
@hemanthsavasere use `!important` css attribute pls.

[2017-01-11 17:25] abishekvashok commented on #45
@mariobehling since inactivity i thought I would deliver in a PR for the same #58

[2017-01-11 17:28] #24 closed

[2017-01-11 21:45] mariobehling commented on #46
Yes, please do. I think this site would benefit and we are not building an exact clone of the main fossasia site here. Cheers.

[2017-01-11 21:45] #39 closed

[2017-01-11 21:46] #38 closed

[2017-01-11 21:49] mariobehling opened #59 "After starting to scroll top bar menu items slightly move when changing color"
Expected behavior when user moves the page the color of the scroll bar should change, but menu items should not move.

[2017-01-12 19:31] idealadarsh commented on #46
@mariobehling Sir, please check the pull request.

[2017-04-14 17:07] mariobehling opened #61 "Update website with links to all relevant repositories and mailing list"
There are number of new repositories and repos with names that are changed. Please update them. Please also add:
* Mailing list: https://groups.google.com/forum/#!forum/pslab-fossasia
* Chat channel on Gitter: https://gitter.im/fossasia/pslab

[2017-04-21 02:05] #61 closed

[2017-04-21 02:06] mariobehling opened #63 "Add developers and mentors to website"
* Devs
* Mentors: Praveen Patil (Gnovi), Kiwi, Darwin Gosal, Shams Jaber, Ansgar Schmidt, Haggen So, Victoria Bondarchuk, Wan Leung Wong, Mitch Altman, Greg Austic, Soong Chee Gi, Lorenz Gerber

[2017-08-19 15:03] mariobehling opened #64 "Add a page "Privacy" and provide a link on the footer"
We need a page for a privacy policy. Implement a simple site using the same style. Please do the following:
* Add link "Privacy" in the footer on the left hand side
* Implement the following order:  PSLab | FOSSASIA | Privacy
* Also Link "FOSSASIA" to http://fossasia.org

[2017-08-19 17:26] viveksb007 commented on #64
@mariobehling @iamareebjamal should i add [privacy_policy.html](https://github.com/fossasia/pslab-android/blob/development/docs/privacy_policy.html) in this repo and link it or link directly from pslab-android repo?

[2017-08-22 12:47] #64 closed

[2017-09-06 19:11] Rishabh-Kumar-Bothra commented on #59
sir, i am interested in this issue may i try to solve this?
thank you

[2017-09-08 02:59] mittalprince commented on #59
Sir is this has been solved or not?
If not I want to work on it .
thank you

[2017-09-08 03:29] CloudyPadmal commented on #59
Hi @mittalprince ! This issue is solved in #66 ! :) You can give a try to fix the other issues!!

[2017-09-08 03:47] mittalprince commented on #59
k sir @CloudyPadmal
thanks

[2017-09-08 07:08] rishabh-bansal commented on #63
@mariobehling Can I work on this? Actually I am already working on this, but it would be better if you assign this to me :) @mariobehling  @wavicles  @CloudyPadmal

[2017-09-10 07:57] Rishabh-Kumar-Bothra commented on #59
@CloudyPadmal sir i think this is working perfect now.

[2017-09-10 11:09] bikrambhattacharya commented on #21
Is this issue still available? @hemantjadon

[2017-09-10 11:11] bikrambhattacharya commented on #46
Is this issue still available? @mariobehling

[2017-10-01 07:44] anshulwadhawan commented on #63
From where can I get the data about these devs and mentors ?
@mariobehling

[2017-10-22 16:01] lapmid commented on #63
@mariobehling  kindly see #72 i have also fixed #21 in this and added some mentors

[2017-10-24 18:53] Remorax opened #77 "UI improvements needed in the footer section"
Before:
![image](https://user-images.githubusercontent.com/26062692/31962027-05e51f8e-b91a-11e7-85dc-169e6a5097df.png)
There are a few improvements that could be made here:
1. The icons could be improved, for instance, "#" doesn't exactly imply a gitter channel. Also, the user should be able to understand the difference between a mailing list and the pslabs email id by looking at the icon
2. Paddi

[2017-10-24 21:21] #77 closed

[2017-11-04 16:04] gurjinder90 opened #79 "Back to top button at the bottom of the page."
I want to add a Back to top button at the bottom of the web page. It will look like this.
![image](https://user-images.githubusercontent.com/32295047/32406980-7557afcc-c1a7-11e7-983f-b09ed08e637e.png)

[2017-11-05 07:27] #79 closed

[2017-11-18 07:51] rrkksinha opened #83 "improve navbar for mobile view"
https://drive.google.com/file/d/1an_sb4V_rYBp1dwRjSeeSPdjLEPBDUHe/view

[2017-11-29 08:58] Remorax commented on #63
Is anybody still working on this issue? I would like to take this up :)
@mariobehling @CloudyPadmal @wavicles

[2017-11-29 18:07] Remorax commented on #63
Also, please provide links to the data for all the developers and mentors @mariobehling @CloudyPadmal @wavicles

[2017-11-29 19:15] Remorax commented on #46
@mariobehling Has this issue been resolved, or is something left? I would like to finish it if its' left.

[2017-12-01 05:01] jigyasa-grover commented on #63
@Remorax Seems like this issue is still unresolved, you could go ahead with it. Thanks !

[2017-12-01 07:06] Remorax commented on #63
@jigyasa-grover Sure I'll do it, but where do I find the photos, the info etc for the same?

[2017-12-01 07:22] abishekvashok commented on #63
Use the fossasia sites, or try to contact mentors and dev haing slack or gitter. @Remorax

[2017-12-01 12:36] Remorax commented on #63
Sure, I'll make a PR within a couple of days :)

[2017-12-01 12:43] abishekvashok commented on #63
@Remorax sure

[2017-12-03 16:36] #63 closed

[2017-12-21 19:51] 0x48piraj opened #87 "No ERROR Pages present."
# Current State :

#### Almost all the summit websites are using 404 and 500 **ERROR** pages.

# Ideal State :

There should be **ERROR** Pages. :sparkles:

[2017-12-27 02:10] #87 closed

[2018-01-04 19:24] aniket223 opened #89 "font awesome icons addition in navbar"
I would like to add icons on the navbar home, pslabschematics and everywhere

[2018-03-15 13:09] Aakash-DD commented on #45
Is this issue still there, i want to work on this..

[2018-05-12 16:16] abhi40308 commented on #21
Sending patch for the same.

[2018-05-12 16:22] abhi40308 opened #92 "Improvement in the PW score of the website."
The pw score of the website is below 50%, it can be improved. Sending pr for the same.
![screen shot 2018-05-12 at 9 50 12 pm](https://user-images.githubusercontent.com/26903230/39959406-b5d83c44-562e-11e8-9577-902a4fba2ceb.png)

[2018-05-12 16:44] abhi40308 opened #93 "Convert insecure links in the codebase"
Referencing : #92

There are insecure links present in the database for fetching media assets that can be converted to https.

Sending pr for the same.

[2018-05-19 05:14] Rishabh570 opened #95 "Styling of word `FOSSASIA` on site's home top left is broken `menu` navbar is clicked."
When the user resizes the window to a width when navbar toggles, opening the navbar (by clicking `menu` on the top right) shows the buggy styling of word `FOSSASIA`

*Ways to reproduce*:
 - Go to the site [pslab.fossasia.org](https://pslab.fossasia.org/)
 - Resize window until navbar toggles.
 - Open the navbar and see the broken styling of `FOSSASIA`

I would like to work on this.

[2018-05-20 13:09] Rishabh570 commented on #95
Pinging @CloudyPadmal .
Opened up a PR for it which fixes this issue.

[2018-05-22 14:20] harsh-2711 opened #97 "Padding is not uniform on the main page"
**Problem:** The padding of some sections is less than others and so it creates bad user experience mainly when website is opened on mobile.

**Screenshot:**
![screenshot_20180522-194923](https://user-images.githubusercontent.com/32356267/40368390-4eaa3554-5df9-11e8-8f14-eb219bdca236.jpg)

**Would you like to work on this issue?**
Yes

[2018-05-22 14:22] harsh-2711 opened #98 "Spacing in number bullets is very large"
**Problem:** The spacing/padding given in number bullets is very large.

**Screenshot:**
![screenshot_20180522-195139](https://user-images.githubusercontent.com/32356267/40368482-8eea1576-5df9-11e8-845f-9815680374af.jpg)

**Would you like to work on this issue?**
Yes

[2018-05-25 20:27] harsh-2711 opened #100 "Some of the preformatted texts are not properly indented"
Problem: Some of the preformatted texts doesn't have uniform indentation and thus creates bad user experience mainly for mobile web browser users.

Desktop -
![screenshot from 2018-05-26 01-49-54](https://user-images.githubusercontent.com/32356267/40564959-61313ff6-6088-11e8-964c-dbea7f58093c.png)
![screenshot from 2018-05-26 01-49-59](https://user-images.githubusercontent.com/32356267/40564961-61

[2018-06-04 04:52] abhi40308 opened #102 "Add contribution best practices in readme."
Currently readme file does not contain contributions best practices and description about pslab.
![screen shot 2018-06-04 at 10 17 10 am](https://user-images.githubusercontent.com/26903230/40898780-06bf18da-67e1-11e8-91ab-260d01d5125c.png)

I would like to work on it.

[2018-06-04 22:51] harsh-2711 opened #103 "Images are taking more time to load"
**Problem**
The images are taking the web page to load longer

**Do you want to work on the issue?**
Yes

[2018-06-08 04:08] #102 closed

[2018-06-08 04:11] #98 closed

[2018-06-08 04:11] #103 closed

[2018-06-08 04:12] #100 closed

[2018-06-08 04:12] #97 closed

[2018-06-08 04:13] #95 closed

[2018-06-08 06:09] #93 closed

[2018-06-08 13:56] CloudyPadmal commented on #59
@adsk261095 will work on this issue

[2018-06-09 11:21] adsk261095 commented on #59
@CloudyPadmal  have u gone through the PR?

[2018-07-10 12:14] pg07codes commented on #89
is this issue fixed now??if yes , please close it.

[2018-07-11 01:42] #89 closed

[2018-07-13 06:54] pg07codes opened #109 "navbar elements move down"
![untitled](https://user-images.githubusercontent.com/34238240/42676887-7ad62b30-8697-11e8-9472-74b662e60ce7.png)

i think nav-bar should change to dropdown nav before items come on the next line.
should i fix this?

[2018-07-13 09:24] cweitat commented on #109
No is fine for now. We have plans to change the design. Thanks :smile:

[2018-07-13 12:35] #109 closed

[2018-07-21 16:40] pg07codes commented on #83
is this issue fixed now ??

[2018-08-27 16:32] Parth910 commented on #83
is this issue open or not?

[2018-08-27 16:42] #92 closed

[2018-08-27 16:44] cweitat commented on #83
Issue is closed. had a PR above.

[2018-08-27 16:44] #83 closed

[2018-08-28 13:15] mariobehling opened #112 "Decide on most suitable WP Plugin for website"
Here is a list of Sendy integrations: https://sendy.co/api#third-party-resources-integrations

Which one is the most suitable one?

[2018-08-29 01:53] mariobehling opened #113 "Add multi-vendor for delivery from different warehouses"
Suitable Open Source seems to be here: https://wordpress.org/plugins/dc-woocommerce-multi-vendor/

Others:
* https://yithemes.com/themes/plugins/yith-woocommerce-multi-vendor/?ref_id=1061975
* https://themeforest.net/item/multistores-wordpress-woocommerce-theme-support-multiple-stores/19337201
* https://wedevs.com/30625/best-woocommerce-multivendor-plugin/

References:
* https://themecot.com/multi

[2018-09-21 11:55] pranav1698 commented on #46
Hey @mariobehling,
Has everything been solved related to this issue(making the menu bar items bold) I want to work on that if it is still not resolved!!
I think it is not resolved as:
before bold property
![screenshot from 2018-09-21 17-31-38](https://user-images.githubusercontent.com/34754265/45880028-3d086480-bdc4-11e8-8522-cbb18ccac30b.png)
after bold property added
![screenshot from 2018-09-21

[2018-09-29 20:25] sarnava1 commented on #45
@mariobehling @abishekvashok @fossasia/pslab-admins @hemantjadon   is this still available? Please assign me this issue if it still exists.

[2018-09-29 20:40] sarnava1 opened #115 "Fossasia logo not visible in mobile screens"
The FOSSASIA logo is not visible in mobile screens in the menu bar as opposed to in larger screens.
In desktop:

![fossasiainbigscreens](https://user-images.githubusercontent.com/25319565/46250315-a9830380-c455-11e8-8974-693dc5b2da31.png)

In mobile screens:

![fossasianotinmenubar](https://user-images.githubusercontent.com/25319565/46250305-6d4fa300-c455-11e8-88f3-d847f01781b7.png)

It is visible

[2018-09-29 20:42] sarnava1 commented on #115
@mariobehling @abishekvashok @fossasia/pslab-admins @Orbiter @hongquan  I think this change is necessary. If you approve shall I start working on these issues.

[2018-10-08 10:54] realslimshanky opened #118 "Incorrect URL for desktop apps"
On the `http://pslab.io/` the URL for `github.com/fossasia/pslab-desktop-apps` is incorrect.

I'm working on fixing this issue.

[2018-10-10 04:39] #118 closed

[2018-10-12 05:28] sk9331657 opened #120 "PSLAB.pdf not found error"
Open this link mentioned on pslab.io
https://github.com/fossasia/pslab-hardware/raw/master/schematics/PSLab.pdf . it will thror 404 error.

[2018-10-13 07:12] aaqaishtyaq commented on #120
There is no pdf in ```fossasia/pslab-hardware```

[2018-10-31 11:42] #115 closed

[2018-11-20 01:30] mariobehling opened #123 "Make Icons on support page black"
Icons can be black. No need to change to red. It is too much red otherwise.

![screenshot from 2018-11-20 02-29-38](https://user-images.githubusercontent.com/1583873/48745563-308d7480-ec6c-11e8-8977-df55c2277bb5.png)

[2018-11-20 01:41] mariobehling opened #124 "Improve message about device"
Can we have something along those lines somewhere on the top of the start page explaining what is PSLab:

PSLab is a hardware extension for your smartphone or PC. It enables you to measure all kinds of things by connecting it to your phone or PC via USB. You can use our Android or desktop app to collect and view the data. And, you can even plug in hundreds of compatible sensors to the PSLab pin sl

[2018-11-20 01:56] mariobehling opened #125 "Add Section "How does it work" on start page and include screenshots of desktop and mobile app"
On the start page add a section "how does it work". Something like:

1. Is it possible to have an image here that shows a sensor + PSLab + Smartphone/PC and USB cable. Best would be a clipart image.

2. And text:
You simply connect the PSLab with your smartphone or PC via USB cable. You then plug in the jumper cables into the relevant pins on the device. There is a description of the pins on the b

[2018-11-20 02:03] mariobehling opened #126 "Add more products to the shop"
More products to offer:
1. Buy one give one.
2. "Sell Android App" - Add a 5 Dollar App. Mention in the text "support the development of the app." Is there an option to send them a link to the installation on the Playstore automatically afterwards?
3. Change PSLab Edu Kit to "soon to come" or "Out of Stock" for now, but still list it.

[2018-11-20 02:06] mariobehling opened #127 "Make 360 degree view of PSLab on the front page"
How to make a 360 degree view that people can move around possible on the start page?

![screenshot from 2018-11-20 03-05-12](https://user-images.githubusercontent.com/1583873/48746799-3afe3d00-ec71-11e8-8909-5d4c0d0dc5af.png)

[2018-11-20 02:12] mariobehling opened #128 "Blog link to /blog instead to https://pslab.io/?page_id=16"
The blog link should show to the slug /blog instead https://pslab.io/?page_id=16.

[2018-11-20 02:17] mariobehling opened #129 "Improve blog section and blogs"
In the blog section show full width of blogs and show full article.
![screenshot from 2018-11-20 03-13-03](https://user-images.githubusercontent.com/1583873/48747079-53bb2280-ec72-11e8-94e6-5cd9a4464a91.png)

[2018-11-20 02:18] mariobehling opened #130 "Import images and link images in posts to own WP installation"
1. Imported blog posts still use the images on blog.fossasia.org. Instead they should be imported and linked / embedded from the installation itself.

2. Add featured images into the posts.

[2018-11-20 02:23] mariobehling opened #131 "Add menu items to shops"
Please add the links to the shops as well.

![screenshot from 2018-11-20 03-21-08](https://user-images.githubusercontent.com/1583873/48747411-92051180-ec73-11e8-87c1-3692316f1b6f.png)

[2018-11-20 05:36] #21 closed

[2018-11-20 05:36] #45 closed

[2018-11-20 05:36] #46 closed

[2018-11-20 05:37] #59 closed

[2018-11-20 06:27] mariobehling opened #132 "Add team section "Who is behind PSLab" with 3 or 4 columns"
Add section "Who is behind PSLab" with 3 or 4 columns below "specifications" and
* scroll over to show profile links
* title and if possible short text below

[2018-11-20 06:40] mariobehling opened #133 "Add section "What sensors are available for PSLab?""
Add a section about sensors on the start page and take it out on the "about" page. With the text:

* Pocket Science Lab can support a number of sensors and display the data in the app. Any sensor with the I2C standard can be plugged into the device using the digital pins. There are hundreds of compatible sensors available on the market. As a technically versatile user or developer you can also obt

[2018-11-20 06:48] mariobehling opened #134 "Add option to sign up for newsletter when buying device"
Please add the option to sign up for newsletter when buying device.

[2018-11-20 13:24] cweitat commented on #132
so which profiles?

[2018-11-20 17:55] mariobehling commented on #132
Please add as follows:
Mario, Padmal, Weitat,
Hong Phuc, Lorenz,
Below "See More" and link to a new page "Team" and add all other members as either a) Developers, b) Advisers or c) Alumni (Former developers are Alumni)

[2018-11-21 15:13] cweitat opened #135 "Add all instruments icons at home page"

[2018-11-22 11:56] cweitat opened #136 "Change shipping to courier on sg.pslab.io"

[2018-11-23 10:34] #136 closed

[2018-11-23 10:43] cweitat commented on #128
fixed

[2018-11-23 10:43] #128 closed

[2018-11-23 10:47] cweitat commented on #124
Updated the text

[2018-11-23 10:47] #124 closed

[2018-11-23 10:54] cweitat opened #137 "Fix Jetpack for PSLab Singapore"

[2018-11-24 07:04] cweitat commented on #137
Issue is php version in server was outdated. changed it to 7.1

[2018-11-24 07:04] #137 closed

[2018-11-24 16:51] cweitat commented on #129
dont understand,

[2018-11-24 17:55] mariobehling commented on #129
* Make the blog post full length at https://pslab.io/blog/
* Could we have the featured images back? Someone needs to compare the original blog and this one.
* Need to change all images which are loading from blog.fossasia.org to local images in the database (I already imported all of them)

[2018-11-27 07:05] mariobehling opened #138 "Add reference and logo of OpnTec and FOSSASIA to start page"
The start page is missing a reference to the project developers.

[2018-11-27 08:44] mariobehling opened #139 "Add an option "Donate PSLab for Education" to website"
People should be able to donate/buy PSLabs for education purposes. We need a write up of a short story why and how for that as well.

[2018-12-05 16:17] mariobehling commented on #133
Please also add a full list at https://pslab.io/sensors/ (which is linked from the data sheet as well).

[2018-12-05 18:49] Dharmesh-Poddar commented on #123
can I work on it ..

[2018-12-05 18:55] Dharmesh-Poddar commented on #139
can I work on it ..

[2018-12-11 09:06] cweitat commented on #135
update the instruments design

[2018-12-12 09:13] cweitat commented on #133
https://docs.google.com/spreadsheets/d/1f9cSvnRS_qqUORNXejuwGRm8rfJAa2xLt3UOWpH7pVg/edit#gid=0

[2018-12-13 13:59] cweitat commented on #135
Updated

[2018-12-13 13:59] #135 closed

[2018-12-13 14:09] #123 closed

[2018-12-13 17:26] cweitat commented on #129
Featured images back
Managed to import images to local. but unable to import from page 7 onnwards

[2018-12-13 17:47] #129 closed

[2018-12-13 17:47] cweitat commented on #130
Featured images back
Managed to import images to local. but unable to import from page 7 onnwards

[2018-12-13 17:48] #125 closed

[2018-12-13 17:51] #131 closed

[2018-12-14 12:35] cweitat commented on #130
found root of problem. images must originally be https. http://fossasia.org will face errors in importing. Thus changing all links to https://fossasia,org before importing

[2018-12-14 16:39] cweitat commented on #130
Finished

[2018-12-14 16:39] #130 closed

[2018-12-14 16:42] #133 closed

[2018-12-14 21:04] #132 closed

[2018-12-15 19:47] harsh-2711 opened #140 "Change images and update active members list"
Following changes needs to be made on the website:

* Images of contributors - Harsh and Abhinav needs to be changed
* Harsh and Abhinav needs to be transfered from alumni list to active members list

[2018-12-16 09:53] cweitat commented on #140
can I have the link of the images?

[2018-12-17 11:29] cweitat commented on #140
shifted position. please give images soon. you can upload here as well

[2018-12-17 11:31] cweitat commented on #140
@harsh-2711 @abhinavraj23

[2018-12-17 11:31] cweitat commented on #140
description as well if you want to amend.

[2018-12-17 17:27] cweitat commented on #139
@mariobehling to add details

[2018-12-18 09:17] cweitat commented on #134
done.

[2018-12-18 09:17] #134 closed

[2018-12-18 10:00] Sangatdas opened #142 "Alignment of Contact section links in the footer"
The contact us section links are not aligned properly due to fontawesome icons.

## Current Behaviour
![screenshot from 2018-12-18 15-10-55](https://user-images.githubusercontent.com/20491970/50146350-88ee7b00-02d9-11e9-8859-6e65c3bf8a91.png)

## Expected Behaviour
![screenshot from 2018-12-18 15-21-00](https://user-images.githubusercontent.com/20491970/50146404-a58ab300-02d9-11e9-84f5-095c82bbcf5

[2018-12-18 11:04] mariobehling commented on #142
The live site is a Wordpress now. We are not using the site anymore. We only use the issue tracker to collect issues.

[2018-12-18 11:04] #142 closed

[2018-12-22 10:12] cweitat commented on #140
@Avjeet pls post the description here as well

[2019-01-28 16:31] gabefair opened #144 "Site seems to be down"
When I navigate to the site I see just a blank white page. Inspecting the HTML, there isn't anything inside the `body` tags.

[2019-01-28 18:32] mariobehling commented on #144
Thank you. It was an automatic update of elementor on Wordpress that corrupted the start page. Solved it. Thank you @gabefair

[2019-01-28 18:32] #144 closed

[2019-02-04 20:32] Juhi-Purswani commented on #126
Hello sir,
I wanted to contribute to your organization for gsco 2019. Please help me for getting started.
Thanks

[2019-02-08 14:11] nehavatsyan opened #145 "UI Improvement in the footer section"
![image](https://user-images.githubusercontent.com/35574268/52483171-41011b80-2bd9-11e9-9308-5100a543fe4a.png)

Sign up section in footer can be improved also color of submit button does not seem appealing.
Can i take up this and improve footer.

[2019-02-18 14:59] subhahu123 commented on #127
@mariobehling  Require 360 degree image file for this ?

[2019-04-01 17:18] felixonmars opened #146 "Twitter URL 404 on homepage"
It should be changed to @pslabio

[2019-04-02 00:51] mariobehling commented on #146
Thanks!

[2019-04-02 00:51] #146 closed

[2019-05-05 05:39] shivaylamba opened #149 "Changing the Title tag and meta description of Privacy Policy page"
Would like to have addition of the keyword privacy policy the title tag of the page and also included in the meta description tag for the same.

[2019-05-06 09:10] #140 closed

[2019-05-06 09:10] #145 closed

[2019-05-06 09:10] #149 closed

[2019-05-15 11:40] #126 closed

[2019-05-15 11:40] cweitat opened #150 "Update team members for GSoC 2019"
Attach description and image below

[2019-05-15 11:59] Pipe-Runner commented on #150
humble_D is a Computer Science and Engineering graduate from Indian Institute of Technology ( Varanasi ), India. He is an application development and tinkering enthusiast who loves trying out new tech and coding patterns.

![photo6260425853880084818](https://user-images.githubusercontent.com/19551058/57773922-cc3d0080-7736-11e9-9fdf-2fefcf02e46a.jpg)

[2019-05-15 13:06] CloudyPadmal commented on #150
Let's go with this for Padmal:::

![IMG](https://avatars2.githubusercontent.com/u/14261304?s=460&v=4)

[2019-05-21 19:44] #150 closed

[2019-12-03 05:07] ayushiitr2901 commented on #139
Hi, is this issue still open. If yes I would like to contribute to it. I am new working at FossAsia and this issue seems to be great start.

[2019-12-03 09:52] #139 closed

[2019-12-03 09:53] #127 closed

[2019-12-22 19:47] Dishebh opened #155 "Missing Social Icons in the footer"
### Actual Behaviour
Footer is missing some social icons for FOSSASIA

### Expected Behaviour
There should be some more icons

### Steps to reproduce it
Scroll all the way down to the footer section to see the issue.

### Would you like to work on the issue?
Yes

[2019-12-22 22:16] #155 closed

[2019-12-29 15:59] TheVagabond1512 opened #157 "App shutting down"
On my Redmi Note 4, the app keeps shutting down as soon as I switch on the inbuilt mic and the in-app recorder at the same time.

[2020-01-31 01:00] kushthedude opened #158 "Website is not rendering completely in Safari"
None of the hyperlinks and images are getting rendered in the Safari for pslab.io

#### Screenshots:

<img width="856" alt="Screenshot 2020-01-31 at 6 29 01 AM" src="https://user-images.githubusercontent.com/44091822/73503711-05b3ba00-43f3-11ea-9609-fdeea1237629.png">

<img width="720" alt="Screenshot 2020-01-31 at 6 29 18 AM" src="https://user-images.githubusercontent.com/44091822/73503717-06e4e7

[2020-01-31 01:00] kushthedude commented on #158
cc: @CloudyPadmal @mariobehling

[2020-05-07 10:42] mickeyrk commented on #158
I would like to work on this issue

[2020-05-07 16:56] nlok5923 opened #160 "Button hover effect enhancement"
I had observed some of the buttons on hover shows a change in color but not all.
example:
![Screenshot (798)](https://user-images.githubusercontent.com/56120084/81322274-97f9d880-9048-11ea-8ab4-8409308639f5.png)
![Screenshot (796)](https://user-images.githubusercontent.com/56120084/81322290-9cbe8c80-9048-11ea-9e9e-299041173bb6.png)

More Team Members on hover changes color
but not BUY PSlab Now bu

[2020-05-08 13:34] CloudyPadmal commented on #158
@mickeyrk is this issue still exist?

[2020-05-08 15:46] blackhat7355 commented on #160
I would like to work on this issue.
Please let me know if I can do so.

[2020-05-08 17:22] kushthedude commented on #158
No

[2020-05-08 17:22] #158 closed

[2020-05-08 19:42] amandugar commented on #160
I would like to work on this issue
Please Let me know if I can help you

[2020-05-08 23:45] aayushpatniya commented on #160
I would like to work on this issue.

[2020-05-10 17:09] anandgupta887 commented on #160
I would like to work on this issue

[2020-05-10 17:12] anandgupta887 commented on #160
Can I get the link of the page where the issue is?

[2020-05-10 17:16] nlok5923 commented on #160
Note that this is the feature request it need member review

[2020-05-13 11:54] atulgawhane commented on #160
i want to work on this issue

[2020-05-15 18:09] ghost commented on #160
Please allow me to work on this issue

[2020-05-18 19:14] Ajil5467 commented on #160
I would like to work on this issue

[2020-05-19 13:16] akhil27styles commented on #160
Want to see the best hover effect? So please allow me to work on this issue

[2020-05-19 14:34] mariobehling commented on #160
not needed.

[2020-05-19 14:34] #160 closed